@import '../../variables.scss';

.Button {
    position: relative;
    border: 1px solid $green;
    background-color: transparent;
    margin: 5px;
    padding: 5px 20px;
    color: $brown;
    font-family: inherit;
    border-radius: 3px;
    size: 1.2rem;
    min-width: 160px;
    min-height: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1000ms ease-in;
    overflow: hidden;
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        border-radius: 3px;
        transform: skewX(45deg);
        background-color: $primaryColor;
        z-index: -1;
        transition: all 500ms ease-in;
    }
    &:before {
        left: -20%;
    }
    &:after {
        right: -20%;
    }
    &:hover {
        color: #fff;
        &:before,
        &:after {
            width: 75%;
        }
    }
    &:focus {
        outline: 0;
    }
}
