@import '../../variables.scss';

.Button {
    position: relative;
    border: 1px solid $green;
    background-color: transparent;
    margin: 5px;
    color: $brown;
    font-family: inherit;
    border-radius: 3px;
    size: 1.2rem;
    min-width: 160px;
    min-height: 40px;
    font-weight: bold;
    cursor: pointer;
    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-radius: 3px;
        background-color: $primaryColor;
        z-index: -1;
        transition: all 300ms ease-in;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
        }
    }
    &:focus {
        outline: 0;
    }
}
